footer.page-footer
  ul.social-links
    li.twitter-link
      a(href="https://www.twitter.com/mashwork", target="_blank")
        img.social-icon(src="/wp-content/themes/mashwork2014/images/twitter-icon.svg")
    li.facebook-link
      a(href="https://www.facebook.com/mashwork", target="_blank")
        img.social-icon(src="/wp-content/themes/mashwork2014/images/facebook-icon.svg")
    li.linkedin-link
      a(href="https://www.linkedin.com/company/mashwork", target="_blank")
        img.social-icon(src="/wp-content/themes/mashwork2014/images/linkedin-icon.svg")

  p.copyright 
    | &copy; 2014 Mashwork, Inc. &nbsp;•&nbsp; All rights reserved. &nbsp;•&nbsp; 
    a(href="/privacy", target="_blank") Privacy Policy

  p.contact-info 
    a(href="https://goo.gl/maps/slKfo", target="_blank") 11 W. 25th St, 7th Fl, New York, NY 10010
    | • 
    a(href="tel:1-646-201-9124") 646-201-9124

  a.made-in-ny(href="http://wearemadeinny.com/", target="_blank")
    img(src="/wp-content/themes/mashwork2014/images/logos/made-in-ny-logo.svg")