header.blog-hero-header
  div.container
    div.branding-wrap
      a.mashwork-logo-link(href="http://mashwork.com")
        img.mashwork-logo(src="wp-content/themes/mashwork2014/images/logos/mashwork-logo-white-red.svg")
      span.brand-divider /
      a.canvs-logo-link(href="http://canvs.tv")
        img.canvs-logo(src="wp-content/themes/mashwork2014/images/logos/canvs-logo-white.svg")
    
    h1.site-header Social insights news