header.blog-hero-header
  div.container
    div.branding-wrap
      a.mashwork-logo-link(href="/")
        img.mashwork-logo(src="/blog/wp-content/themes/mashwork2014/images/logos/mashwork-logo-white-red.svg")
      span.brand-divider /
      a.canvs-logo-link(href="http://canvs.tv/login")
        img.canvs-logo(src="/blog/wp-content/themes/mashwork2014/images/logos/canvs-logo-white.svg")
    
    h1.blog-title 
      a(href="/blog") MashWords
    p.blog-description Product updates and social media insights.