header.hero-header
  div.container
    a.canvs-login(href="http://canvs.tv/login") Login
      span.login-icon
        img(src="images/user-icon.svg")
    div.hero-header-content
      div.branding-wrap
        p.logo-introducing Introducing
        a.mashwork-logo-link(href="http://mashwork.com")
          img.mashwork-logo(src="wp-content/themes/mashwork2014/images/logos/mashwork-logo-white-red.svg")
        a.canvs-logo-link(href="http://canvs.tv")
          img.canvs-logo(src="wp-content/themes/mashwork2014/images/logos/canvs-logo-white.svg")
          

      h1.site-header Social Insights News