*.sass-cache
blog/wp-content/mashwork2014/style/.sass-cache

blog/*
!blog/wp-content/

blog/wp-admin/*

blog/wp-content/*
!blog/wp-content/plugins/
!blog/wp-content/themes/


blog/wp-content/plugins/*

blog/wp-content/themes/*
!blog/wp-content/themes/mashwork2014/