//STRUCTURE

html {
}

body {
  background-color: $offWhite;
}

.container {
  position: relative;
}

section, .section {
  padding: 70px 0;
  @extend .clearfix;
}

.section-header-wrap {
  margin: 0;
  margin-bottom: 50px;
  @extend .clearfix;
}

.content-box {
  margin-bottom: 30px;
}

hr {
  border-top: 1px solid $grayLight;
}

//BLOG HEADER

.blog-hero-header {
  width: 100%;
  height: 300px;
  position: relative;
  text-align: center;
  background: $offBlack url("../mashwork2014/images/blog-header-image.jpg") no-repeat top center;
  background-attachment: fixed;
  background-size: cover 340px;
  @include max-width($screen-xs) {
    height: 240px;
  }
}

.branding-wrap {
  margin-top: 30px;
  margin-bottom: 30px;
  @extend .center-block;
  .mashwork-logo-link, .canvs-logo-link, .brand-divider {
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
  .mashwork-logo-link {
    top: -4px;
    @include max-width($screen-xs) {
      top: -2px;
    }
  }
  .mashwork-logo {
    width: 185px;
    @include max-width($screen-xs) {
      width: 130px;
    }
  }
  .canvs-logo {
    width: 120px;
    @include max-width($screen-xs) {
      width: 90px;
    }
  }
  .brand-divider {
    color: white;
    font-size: 32px;
    font-weight: 300;
    font-family: $headerFontFamily;
    margin: 0 20px;
    @include font-smoothing;
    @include max-width($screen-xs) {
      font-size: 24px;
      margin: 0 10px;
    }
  }
}


.blog-title {
  color: white;
  @extend .center-block;
  @include font-smoothing;
  margin-bottom: 10px;
  @include max-width($screen-lg) {
    @include rem('font-size', 48px);
    @include rem('line-height', 64px);
  }
  @include max-width($screen-sm) {
    @include rem('font-size', 36px);
    @include rem('line-height', 42px);
  }
}

.action-btn {
  @extend .btn-teal;
  display: inline-block;
}

//BLOG CONTENT

.blog-content {
  padding-top: 50px;
  @include make-lg-column(10);
  @include make-lg-column-offset(1);
}

.post {
  padding: 40px 0;
  .post-media {
    @include make-sm-column(4);
    max-height: 300px;
    overflow: hidden;
    @include max-width($screen-sm) {
      padding: 0;
      max-height: 200px;
      margin-bottom: 30px;
    }
    .thumbnail-link {
      width: 100%;
      text-align: center;
      @include max-width($screen-sm) {
        margin: 0 auto;
        display: block;
      }
      img {
        width: 100%;
        height: auto !important;
      }
    }
  }
  .post-listing {
    @include make-sm-column(8);
  }
  .post-title {
    text-align: left;
    padding: 0 15px;
    margin-bottom: 10px;
    @include max-width($screen-sm) {
      text-align: center;
    }
  }
  .post-details {
    color: $gold;
    padding: 0 15px;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 300;
    @include rem('font-size', 18px);
    @include rem('line-height', 24px);
    a {
      font-weight: 400;
    }
    @include max-width($screen-sm) {
      text-align: center;
    }
  }
  .read-more-btn {
    @include button-size(30px, 120px);
    @include rem('font-size', 16px);
    @include max-width($screen-sm) {
      @include center-block;
    }
    &:hover {
      background-color: $gold;
    }
    &:active {
      box-shadow: inset 0 2px 2px shade($gold, 25%);
    }
  }
  @include max-width($screen-sm) {
    border-bottom: 1px solid $gray;
    &:last-child {
      border-bottom: none;
    }
  }
}

.entry {
  margin-top: 20px 0;
  padding: 0 15px;
  position: relative;
}

.post-listing {
  .entry {
    padding: 0;
  }
  .post-title, .post-details {
    padding: 0;
  }
}

.entry > p {
  padding: 0;
}

.entry > a, .entry > .wp-caption > a {
  margin: 0 -15px;
  display: block;
}

.entry .wp-caption {
  width: auto !important;
  img {
    margin-bottom: 10px;
  }
  .wp-caption-text {
    text-align: center;
    font-style: italic;
  }
}

//SINGLE POST

.single-post-content {
  padding: 0;
  width: 800px;
  max-width: 100%;
  @include center-block;
}

.post-navigation {
  @include clearfix;
  margin-bottom: 60px;
  margin-top: 30px;
  padding: 0 5px;
  div {
    display: inline-block;
  }
  .previous-post-btn {
    float: left;
  }
  .next-post-btn {
    float: right;
  }
  a {
    @include rem('font-size', 18px);
  }
}

.single-post {
  .post-title {
    text-align: center;
    margin-bottom: 20px;
  }
  .post-details {
    text-align: center;
  }
  .entry img {
    max-width: 100%;
    height: auto;
    &.alignnone {
      @include center-block;
    }
  }
}

blockquote {
  border-left: 5px solid $mashRed;
  position: relative;
  padding: 5px;
  &:before {
    display: inline-block;
    content: url(/img/icon-quote.svg);
    @include size(30px);
    color: $mashRed;
    position: absolute;
    left: -60px;
    margin-top: -15px;
    top: 50%;
  }
  @include max-width($screen-sm) {
    border: none;
    text-align: center;
    &:before {
      display: inline-block;
      position: relative;
      left: initial;
      top: initial;
      margin: 0;
      margin-bottom: 15px;
    }
  }
}

//SHARE LINKS

.share-links-wrap {
  margin-bottom: 40px;
}

.share-links-list {
  list-style: none;
  text-align: center;
  padding: 0;
  li {
    display: inline-block;
    margin: 0 5px;
    a {
      display: block;
      @include size(30px);
      background-color: $gray;
      color: white;
      background-size: 18px;
      background-repeat: no-repeat;
      background-position: center center;
      &:hover {
        background-color: $gold;
      }
    }
  }
  .twitter-share-link {
    a {
      background-image: url(/blog/wp-content/themes/mashwork2014/images/twitter-icon.svg);
    }
  }
  .facebook-share-link {
    a {
      background-image: url(/blog/wp-content/themes/mashwork2014/images/facebook-icon.svg);
    }
  }
  .linkedin-share-link {
    a {
      background-image: url(/blog/wp-content/themes/mashwork2014/images/linkedin-icon.svg);
    }
  }
}

//TAG LIST

.tags-wrap {
  text-align: center;
  padding-top: 20px;
  h4 {
    margin-bottom: 20px;
  }
  ul {
    list-style: none;
    padding: 0;
    vertical-align: top;
  }
  li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    vertical-align: top;
  }
  a {
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    background-color: $grayLight;
    color: $grayMed;
    display: inline-block;
    &:hover {
      text-decoration: none;
      color: white;
      background-color: $gold;
    }
  }
}

//PAGE NAVIGATION

.post-list-pages {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 0 5px;
  .wp-pagenavi {
    display: inline-block;
    max-width: 100%;
    @include rem('font-size', 21px);
    a.page {
      background-color: $grayLight;
      color: $grayMed;
      &:hover {
        background-color: darken($grayLight,5%);
        color: $grayDark;
      }
    }
    span.current {
      background-color: $gold;
      color: white;
    }
    @include max-width($screen-sm) {
      @include rem('font-size', 16px);
    }
  }
  .wp-pagenavi a, .wp-pagenavi span {
    display: inline-block;
    border: none;
    margin: 0;
    padding: 5px 10px;
    &:hover {
      text-decoration: none;
    }
  }
}

//COMMENTS

.comments-wrap {
  margin-bottom: 60px;
}

//BLOG FOOTER

.page-footer {
  background-color: $offBlack;
  padding: 50px 15px;
  text-align: center;
  @extend .clearfix;
}

.social-links {
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  display: inline-block;
  li {
    display: inline-block;
    margin: 0 10px;
    a {
      @include size(50px);
      display: inline-block;
      border-radius: 100%;
      background-color: transparentize(white, .75);
      transition: background-color .25s linear, transform .25s $easeOutBack;
      &:hover {
        background-color: transparentize(white, .5);
        transform: scale(1.2);
        .social-icon {
          transform: scale(1.2);
        }
      }
    }
  }
  .social-icon {
    width: auto;
    height: 20px;
    margin-top: 15px;
    transition: transform .25s $easeOutBack;
  }
}

.copyright {
  padding: 0;
  margin: 0;
  @include rem('margin-bottom', 5px);
  color: transparentize(white, .25);
  @include rem('font-size', 14px);
  a {
    color: transparentize(white, .25);
  }
}

.contact-info {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  color: $gold;
  @include rem('font-size', 16px);
  a {
    margin: 0 7px;
  }
}

.made-in-ny {
  margin: 0;
  img {
    @include size(50px);
  }
}

//404 Styles

.error404-wrap {
  height: 400px;
  padding: 50px;
  text-align: center;
  .error404 {
    color: $mashRed;
    @include rem('font-size', 180px);
    line-height: 1;
    margin-bottom: 20px;
  }
  .error-description {
    @include rem('font-size', 21px);
    line-height: 1;
  }
}