//STRUCTURE

html {
}

body {
  background-color: $offWhite;
}

.container {
  position: relative;
}

section, .section {
  padding: 70px 0;
  @extend .clearfix;
}

.section-header-wrap {
  margin: 0;
  margin-bottom: 50px;
  @extend .clearfix;
}

.content-box {
  margin-bottom: 30px;
}

//BLOG HEADER

.blog-hero-header {
  width: 100%;
  height: 300px;
  position: relative;
  text-align: center;
  background: $offBlack url("../mashwork2014/images/blog-header-image.jpg") no-repeat top center;
  background-attachment: fixed;
  background-size: cover 340px;
}

.branding-wrap {
  margin-top: 30px;
  margin-bottom: 30px;
  @extend .center-block;
  .mashwork-logo-link, .canvs-logo-link, .brand-divider {
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
  .mashwork-logo-link {
    top: -5px;
  }
  .mashwork-logo {
    width: 185px;
  }
  .canvs-logo {
    width: 120px;
  }
  .brand-divider {
    color: white;
    font-size: 32px;
    font-weight: 300;
    font-family: $headerFontFamily;
    margin: 0 20px;
    @include font-smoothing;
  }
}


.blog-title {
  color: white;
  @extend .center-block;
  @include font-smoothing;
  margin-bottom: 10px;
  @include max-width($screen-lg) {
    @include rem('font-size', 48px);
    @include rem('line-height', 64px);
  }
  @include max-width($screen-sm) {
    @include rem('font-size', 32px);
    @include rem('line-height', 36px);
  }
}

.action-btn {
  @extend .btn-teal;
  display: inline-block;
}

//BLOG CONTENT

.blog-content {
  padding-top: 50px;
  @include make-lg-column(10);
  @include make-lg-column-offset(1);
}

.post {
  margin-bottom: 80px;
  .post-media {
    @include make-sm-column(4);
    .thumbnail-link {
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .post-listing {
    @include make-sm-column(8);
  }
  .post-title {
    text-align: left;
    margin-bottom: 10px;
  }
  .post-details {
    color: $gold;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 300;
    @include rem('font-size', 20px);
    @include rem('line-height', 24px);
  }
  .read-more-btn {
    @include button-size(30px, 120px);
    @include rem('font-size', 16px);
  }
}

//SINGLE POST

.single-post-content {
  padding: 0 15px;
  padding-top: 50px;
  width: 800px;
  max-width: 100%;
  @include center-block;
}

.single-post {
  .post-title {
    text-align: center;
    margin-bottom: 20px;
  }
  .post-details {
    text-align: center;
  }
  .entry img {
    max-width: 100%;
    height: auto;
  }
}

//BLOG FOOTER

.page-footer {
  background-color: $offBlack;
  padding: 50px 15px;
  text-align: center;
  @extend .clearfix;
}

.social-links {
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  display: inline-block;
  li {
    display: inline-block;
    margin: 0 10px;
    a {
      @include size(50px);
      display: inline-block;
      border-radius: 100%;
      background-color: transparentize(white, .75);
      transition: background-color .25s linear, transform .25s $easeOutBack;
      &:hover {
        background-color: transparentize(white, .5);
        transform: scale(1.2);
        .social-icon {
          transform: scale(1.2);
        }
      }
    }
  }
  .social-icon {
    width: auto;
    height: 20px;
    margin-top: 15px;
    transition: transform .25s $easeOutBack;
  }
}

.copyright {
  padding: 0;
  margin: 0;
  @include rem('margin-bottom', 5px);
  color: transparentize(white, .25);
  @include rem('font-size', 14px);
  a {
    color: transparentize(white, .25);
  }
}

.contact-info {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  color: $gold;
  @include rem('font-size', 16px);
  a {
    margin: 0 7px;
  }
}

.made-in-ny {
  margin: 0;
  img {
    @include size(50px);
  }
}