$sansFontFamily:      "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headerFontFamily:    "jaf-bernino-sans-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
$slabFontFamily:      "adelle", Georgia, "Times New Roman", Times, serif;
$monoFontFamily:      Monaco, Menlo, Consolas, "Courier New", monospace;

html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}

body {
  font-family: $sansFontFamily;
  @include rem('font-size',16px);
  color: $grayDark;
}

a {
  color: $gold;
  &:hover {
    color: shade($gold, .5);
    cursor: pointer;
  }
}

p {
  @include rem('font-size', 18px);
  @include rem('line-height', 24px);
  font-weight: 300;
}

b, strong {
  font-weight: 400;
}

h1,h2,h3,h4 {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: $slabFontFamily;
  font-weight: 400;
  @include rem('font-size', 36px);
  @include rem('line-height', 42px);
  @include max-width($screen-xs) {
    @include rem('font-size', 28px);
    @include rem('line-height', 34px);
  }
}

h2     {
  font-family: $headerFontFamily;
  font-weight: 400;
  @include rem('font-size', 28px);
  @include rem('line-height', 34px);
}

.post-title {
  font-family: $slabFontFamily;
  .post-title-link {
    color: $grayDark;
    &:hover {
      text-decoration: none;
    }
  }
}

.blog-title {
  @include rem('font-size', 56px);
  @include rem('line-height', 74px);
  letter-spacing: .9px;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}

.blog-description {
  color: $goldLight;
  letter-spacing: 0.5px;
  @include rem('font-size', 21px);
  @include rem('line-height', 26px);
  @include min-width($screen-md) {
    margin: 0 60px;
  }
  @include min-width($screen-lg) {
    margin: 0 80px;
  }
}

h1.section-header {
  padding: 0 15px;
  margin-bottom: 20px;
  color: $grayDark;
  @extend .center-block;
  letter-spacing: .5px;
}

h3 {
  @include rem('font-size', 18px);
  @include rem('line-height', 21px);
}

p {
  margin-bottom: 15px;
}

p.section-description {
  color: $gold;
  @include rem('font-size', 21px);
  letter-spacing: 0.5px;
  margin-bottom: 0;
  @include max-width($screen-xs) {
    @include rem('font-size', 18px);
  }
}