$sansFontFamily:      "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headerFontFamily:    "jaf-bernino-sans-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
$slabFontFamily:      "adelle", Georgia, "Times New Roman", Times, serif;
$monoFontFamily:      Monaco, Menlo, Consolas, "Courier New", monospace;

html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}

body {
  font-family: $sansFontFamily;
  @include rem('font-size',16px);
  color: $grayDark;
}

a {
  color: $gold;
  font-weight: 400;
  &:hover {
    color: shade($gold, .5);
    cursor: pointer;
  }
}

p {
  @include rem('font-size', 18px);
  @include rem('line-height', 28px);
  font-weight: 300;
  margin-bottom: 20px;
  // @include max-width($screen-xs) {
  //   @include rem('font-size', 16px);
  //   @include rem('line-height', 21px);
  // }
}

b, strong {
  font-weight: 400;
}

h1,h2,h3,h4 {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

h1 {
  font-family: $slabFontFamily;
  font-weight: 400;
  @include rem('font-size', 36px);
  @include rem('line-height', 42px);
  @include max-width($screen-xs) {
    @include rem('font-size', 28px);
    @include rem('line-height', 34px);
  }
}

h2 {
  font-family: $headerFontFamily;
  font-weight: 400;
  margin-top: 20px;
  @include rem('font-size', 28px);
  @include rem('line-height', 34px);
  @include max-width($screen-xs) {
    @include rem('font-size', 24px);
    @include rem('line-height', 28px);
  }
}

h3 {
  font-family: $headerFontFamily;
  font-weight: 400;
  @include rem('font-size', 24px);
  @include rem('line-height', 30px);
  @include max-width($screen-xs) {
    @include rem('font-size', 21px);
    @include rem('line-height', 25px);
  }
}

h4 {
  font-weight: 600;
  @include rem('font-size', 21px);
  @include rem('line-height', 25px);
  @include max-width($screen-xs) {
    @include rem('font-size', 18px);
    @include rem('line-height', 21px);
  }
}

.entry h4 {
  text-align: left;
}

.entry {
  h3 {
    color: $mashRed;
  }
  a {
    color: $mashRed;
    &:hover {
      text-decoration: none;
      background-color: transparentize($mashRed,.925);
    }
  }
}

.post-title {
  margin-top: 0;
  font-family: $slabFontFamily;
  .post-title-link {
    color: $grayDark;
    &:hover {
      text-decoration: none;
    }
  }
}

.blog-title {
  @include rem('font-size', 56px);
  @include rem('line-height', 74px);
  letter-spacing: .9px;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}

.blog-description {
  color: $goldLight;
  letter-spacing: 0.5px;
  @include rem('font-size', 21px);
  @include rem('line-height', 26px);
  @include min-width($screen-md) {
    margin: 0 60px;
  }
  @include min-width($screen-lg) {
    margin: 0 80px;
  }
}

.wp-caption-text {
  margin-top: 10px;
  @include rem('font-size', 18px);
  @include max-width($screen-xs) {
    @include rem('font-size', 16px);
  }
}

blockquote {
  p {
    @include rem('font-size', 21px);
    @include rem('line-height', 28px);
    font-style: italic;
    font-weight: 400;
    @include max-width($screen-xs) {
      @include rem('font-size', 18px);
      @include rem('line-height', 24px);
    }
  }
}