// Grays
// -------------------------
$black:           #000000;
$offBlack:        rgb(40, 40, 40);
$grayDark:        rgb(75, 75, 75);
$grayMed:         #777777;
$gray:            #a0a0a0;
$grayLight:       #dcdcdc;
$grayLightest:    #eeeeee;
$offWhite:        rgb(245, 245, 245);
$white:           #ffffff;
$translucent:     rgba(255, 255, 255, .7);
$lightBlueGray:   rgb(101, 110, 125);


// Default colors
// -------------------------
$mashRed:         rgb(175, 35, 40);
$gold:            rgb(157,133,79);
$goldLight:       lighten($gold, 20%);
$red:             rgb(237, 35, 38);
$blue:            rgb(52, 197, 240);
$blueDark:        rgb(0,140,190);
$blueDarkest:     rgb(5,66,88);
$green:           rgb(116, 193, 103);
$yellow:          rgb(249, 179, 24);
$orange:          rgb(245, 135, 3);
$pink:            rgb(240, 95, 144);
$purple:          rgb(190, 120, 190);
$teal:            rgb(48, 188, 174);
$tealDark:        rgb(49, 155, 155);
$tealDarkest:     rgb(67, 89, 89);


//Easings
// -------------------------

//Source: https://github.com/matthewlein/Ceaser/

// Cubic
$easeInCubic    : cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic   : cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeInOutCubic : cubic-bezier(0.645, 0.045, 0.355, 1.000);

// Circ
$easeInCirc     : cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeOutCirc    : cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easeInOutCirc  : cubic-bezier(0.785, 0.135, 0.150, 0.860);

// Expo
$easeInExpo     : cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeOutExpo    : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeInOutExpo  : cubic-bezier(1.000, 0.000, 0.000, 1.000);

// Quad
$easeInQuad     : cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeOutQuad    : cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeInOutQuad  : cubic-bezier(0.455, 0.030, 0.515, 0.955);

// Quart
$easeInQuart    : cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeOutQuart   : cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeInOutQuart : cubic-bezier(0.770, 0.000, 0.175, 1.000);

// Quint
$easeInQuint    : cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeOutQuint   : cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeInOutQuint : cubic-bezier(0.860, 0.000, 0.070, 1.000);

// Sine
$easeInSine     : cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeOutSine    : cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeInOutSine  : cubic-bezier(0.445, 0.050, 0.550, 0.950);

// Back
$easeInBack     : cubic-bezier(0.600, -0.280, 0.735, 0.045);
$easeOutBack    : cubic-bezier(0.175,  0.885, 0.320, 1.275);
$easeInOutBack  : cubic-bezier(0.680, -0.550, 0.265, 1.550);